

<div id='dropdown2-account' class='dropdown2 dropdown2-tip'>
    <div class='dropdown2-panel' style="background-color:white">
        @Html.Partial("_LoginPartial")


        <ul class="list-unstyled">
            <li><a>Your Orders</a></li>
            <li><a>Profile</a></li>
            <li class="dropdown2-divider"></li>
            <li><a>Checkout</a></li>
        </ul>
    </div>
</div>