
<footer>
    <div class="container-fluid">
        <div class="row">
            <!--get to know us-->
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><p><strong>Get to Know Us</strong> </p></li>
                    <li><a href="#">First Trailer</a></li>
                    <li><a href="/Home/About">About Us</a></li>
                    <li><a href="#">Our Facility</a></li>
                    <li><a href="#">Professional Affiliation</a></li>
                    <li><a href="/Home/Press">Press Release</a></li>          
                    <li><a href="/Home/Global">Global Responsibility</a></li>
                    <li><a href="/Home/GivingBack">Giving Back</a></li>
                    <li><a href="/Jobs/Index">Careers</a></li>
                </ul>
            </div>
            <!--Customer Service-->
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><p><strong>Customer Service</strong></p></li>
                    <li><a href="/Home/Press">Site Map</a></li>
                    <li><a href="/Jobs/Index">Help</a></li>
                    <li><a href="/Home/Global">Privacy</a></li>
                    <li><a href="/Home/GivingBack">Terms and Conditions</a></li>
                    <li><a href="/Home/GivingBack">Return Policy</a></li>
                    <li><a>Shipping Rates &amp; Policies</a></li>
                    <li><a href="#">Warranty and Manuals</a></li>
                </ul>
            </div>
            <!--Order-->
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><p><strong>Orders</strong></p></li>
                    <li><a href="/Jobs/Index">Track Orders</a></li>
                    <li><a href="/Home/Press">Get a Quote</a></li>
                    <li><a href="/Home/Global">Brochures</a></li>
                    <li><a href="/Home/GivingBack">Coupons</a></li>
                    <li><a href="/Home/GivingBack">Financing</a></li>
                </ul>
            </div>
            <!--social-->
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><p><strong>Contacts</strong></p></li>
                    <li> <a href="#">Contact Us</a></li>
                    <li><a href="#">Store Locator</a></li>
                    <li><a href="#">Social Media</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p>&copy; @DateTime.Now.Year - J &amp; J Manufacturer &amp; Sales Inc.</p>
</footer>