
<ul class="nav nav-tabs" style="margin-bottom:0;">
    <!--search bar-->
    <li role="presentation"> @Html.Partial("_searchbar")</li>

        <!--shopping cart menu-->
<li role="presentation" class="dropdown pull-right">
        <a data-dropdown2="#dropdown2-shoppingcart">
            <span class="glyphicon glyphicon-shopping-cart" style="font-size:larger">   </span> <span class="badge">4</span>Shopping Cart <span class="caret"></span>
        </a>
    </li>
    <!--account menu-->
    <li role="presentation" class="dropdown pull-right">
        <a data-dropdown2="#dropdown2-account">
            <span class="glyphicon glyphicon-user" style="font-size:larger">Your Account </span> <span class="caret"></span>
        </a>

    </li>
</ul>