
<form id="form-game_v1" name="form-game_v1" action="/" method="post" style="width:500px;">
    <div class="typeahead-container layout2">
        <div class="typeahead-field">

            <span class="typeahead-query">
                <input id="game_v1-query" name="game_v1[query]" type="search" placeholder="Search" autocomplete="off">
            </span>
            <span class="typeahead-button">
                <button type="submit">
                    <i class="search-icon"></i>
                </button>
            </span>

        </div>
    </div>
</form>
@*<form action="/" method="post" style="float:right;width:auto;">

    <ul class="list-inline" style="background-color:darkblue;">
        <li>
            <select class="js-example-data-array-selected " multiple="multiple" style="width:auto;"></select>
        </li>
        <li>
            <div id="prefetch">
                <input class="typeahead" type="text" placeholder="Countries">
            </div>
        </li>
    </ul>
</form>*@



@*<ul>    <select class="js-data-example-ajax" style="width:500px;"></select>


        <li>
            @*<select class="inputsearch searchselect" >

                </select>

        </li>
     <li><input type="search" autocomplete="on" style="width:500px" /></li>
        <li><button type="submit">Go</button></li>
    </ul>*@