
<div id='dropdown2-shoppingcart' class='dropdown2 dropdown2-tip dropdown2-menu'>
    <div class='dropdown2-panel' style="background-color:white">
    <ul class="list-unstyled">
        <li >
            Items in Cart
        </li>
        <li><a>item 1</a></li>
        <li><a>item 2</a></li>
        <li><hr /></li>
        <li><a>Checkout</a></li>
    </ul>    
    </div>
    </div>
