@model IEnumerable<JJTrailer.Library.Career>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_careerlayout.cshtml";
}



<div style="background-image:url('../Images/Career/career.png');height:598px;width:1280px;background-repeat:no-repeat" class="container-fluid">
    <h2>Find out where your career can take you </h2>

</div>