@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>
    Whether you need a standard or a custom built trailer, J&J Trailers has what you’re looking for! J&J Trailers are designed and constructed for maximum performance and durability at competitive prices.
</p>
<strong>Driven to the Top of the Trailer Industry</strong> 
<p>Al Abdelmalek, P. Eng., C.W.E., is President and General Manager of J&J Trailers. A member of Professional Engineers Ontario, Al’s professionalism, engineering expertise and focus on customer satisfaction have helped drive J&J Trailers to the forefront of the industry. Al has over 25 years of experience in the manufacturing and automotive industry. He is creative and always looking for new challenges in product development.
</p>
<strong>Newly-Expanded Modern Ontario Facility
</strong>
<p>
             Our newly-expanded and modernized Scarborough, Ontario facility puts state-of-the-art equipment and processes at your service.

    </p>
<strong>Sophisticated Engineering with High Quality Materials
</strong>
<p>
    Established in 1974, J&J Trailers has become a leader in trailer manufacturing, service and parts. Our depth of experience and relentless attention to detail mean that every J&J trailer is a product of sophisticated engineering, high quality materials and best practice manufacturing processes. We’re happy to provide all of these at a competitive price.

</p>
<strong>CAD Facility Creates Trailers Customized for Your Needs
</strong>
<p>J&J Trailers has a full CAD facility that enables us to design trailers ranging from 5-ton to 85-ton capacity. Our CAD facility also allows us to design custom steel fixtures and tooling to meet the rigorous specifications for your project. We also offer truck body fabrication adapted for specific functions.
</p>
<strong>CNC Plasma Cutting in Toronto
</strong>
<p>J&J Trailers has a full CNC plasma cutting facility that enables us to cut and fabricate complicated design trailers up to 1” thick and 5’x10’ pieces. We are your source for custom metal fabrication.</p>

