
@{
    ViewBag.Title = "Press";
}

<h2>Press Release</h2>
<p>JJ Trailer in the news</p>
<iframe class="container-fluid" width="750px" height="750px"
        src="http://www.canadianmetalworking.com/job-shops/job-shop-profile-j-j-trailer-103096.html">

</iframe>

